@font-face {
	font-family: "Flaticon";
	src: url("fonts/flaticon.eot");
	src: url("fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("fonts/flaticon.woff") format("woff"),
	url("fonts/flaticon.ttf") format("truetype"),
	url("fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
/*margin-left: 20px;*/
}.flaticon-farm:before {
	content: "\e000";
}
.flaticon-farm4:before {
	content: "\e001";
}
.flaticon-farming:before {
	content: "\e002";
}
.flaticon-fruit124:before {
	content: "\e003";
}
.flaticon-fruit72:before {
	content: "\e004";
}
.flaticon-fruit82:before {
	content: "\e005";
}
.flaticon-ingredient:before {
	content: "\e006";
}
.flaticon-picket:before {
	content: "\e007";
}
.flaticon-tractor7:before {
	content: "\e008";
}
.flaticon-transport150:before {
	content: "\e009";
}
