<div class="container">
  <div class="row">
    <div class="col s12 m6 l4">
      <a href="#/magazzino">
        <div class="card hoverable">
          <div class="card-image" style="background-image: url('images/magazzino.jpg')">
          </div>
          <div class="card-content brown lighten-2">
            <span class="card-title grey-text text-lighten-2">Magazzino</span>
          </div>
        </div>
      </a>
    </div>
    <div class="col s12 m6 l4">
      <a href="#/frutto/Ciliegio">
        <div class="card hoverable">
          <div class="card-image" style="background-image: url('images/ciliegia.jpg')">
          </div>
          <div class="card-content red accent-4">
            <span class="card-title grey-text text-lighten-3">Ciliegio</span>
          </div>
        </div>
      </a>
    </div>
    <div class="col s12 m6 l4">
      <a href="#/frutto/Albicocco">
        <div class="card hoverable">
          <div class="card-image" style="background-image: url('images/albicocco.jpg')">
          </div>
          <div class="card-content orange darken-2">
            <span class="card-title grey-text text-lighten-3">Albicocco</span>
          </div>
        </div>
      </a>
    </div>
    <div class="col s12 m6 l4">
      <a href="#/frutto/Vite">
        <div class="card hoverable">
          <div class="card-image" style="background-image: url('images/vite.jpg')">
          </div>
          <div class="card-content light-green darken-4">
            <span class="card-title grey-text text-lighten-3">Vite</span>
          </div>
        </div>
      </a>
    </div>
    <div class="col s12 m6 l4">
      <a href="#/frutto/Seminativo">
        <div class="card hoverable">
          <div class="card-image" style="background-image: url('images/seminativo.jpg')">
          </div>
          <div class="card-content yellow">
            <span class="card-title grey-text text-darken-4">Seminativo</span>
          </div>
        </div>
      </a>
    </div>
    <div class="col s12 m6 l4">
      <a href="#/frutto/Extra">
        <div class="card hoverable green accent-4">
          <div class="card-image" style="background-image: url('images/extra.jpg')">
          </div>
          <div class="card-content">
            <span class="card-title grey-text text-lighten-3">Extra</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
